@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../assets/fonts/ProximaNova-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
p{
    margin-bottom: 0;
    font-family: "Proxima Nova Rg";
}
.first-logo-word{
    color: #ce7852;
}
.logo{
    font-size: 30px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 85px;
}
.content-block {
    min-width: 297px;
    width: 297px;
    height: 80px;
    border: 5px solid #f8f3ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px
}
.content-block p{
    max-width: 70%;
    padding: 0;
    font-size: 20px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.stripes{
    background: #f8f3ff;
    height: 2px;
    width: 48%;
}
@media (max-width: 1400px) {
    .content-block p{
        font-size: 18px;
        max-width: 60%;
    }
    .logo{
        font-size: 22px;
    }
    svg{
        scale: 0.9;
    }
}
@media (max-width: 1200px) {
    .content-block p{
        font-size: 16px;
        max-width: 50%;
    }
    .logo{
        font-size: 20px;
    }
    svg{
        scale: 0.8;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content{
        justify-content: center;
    }
}
@media (max-width: 1200px) {
    .content-block p{
        font-size: 15px;
        max-width: 50%;
    }
    .logo{
        font-size: 18px;
    }
    svg{
        scale: 0.7;
    }
}

